* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.parallax-container {
  width: 100vw;
  height: 100vh;

  background: url("./bg.jpg");
  position: relative;
}

.parallax-container::after {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  mix-blend-mode: screen;

  background: url("./splash.jpg");
  background-size: cover;
}

.content {
  width: 100vw;
  height: 150vh;
  background-color: green;
}
